/* Root */
:root {
    --main-color: #084887;
    --main-color-dark: #021427;
    --main-color-light: #0D7AE7;
    --accent-color: #FA7E61;
    --primary-bg-color: #F7F5FB;
    --secondary-bg-color: #909CC2;
    --primary-border-radius: 5px;
    --round-border-radius: 50px
}

/* HTML Element styles ***********************/
body {
    background-color: var(--primary-bg-color);
    font-size: 16px;
    color: var(--main-color-dark);
}

/* all images should fill 100% of their container */
img {
    width: 100%;
}

label {
    cursor: pointer;
}

/* Header ***********************************/
.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 1rem;
}

.header-logo__block {
    width: 5rem;
    margin-inline-end: 1rem;
}

.header__logo {
    border-radius: var(--round-border-radius);
}

/* Main ***********************************/


/* Section for New Entry and Reading an Entry */
.entry-add-entry-read__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    flex: 200px;
}

.new-entry-form__block {
    flex: 1 320px;
}

.view-entry__block {
    flex: 1 320px;
    display: inline-flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

/* Mood Selector ***********************/
/* #mood1__image {background-image: url("./src/images/mood-nailed-it-icon.png");}
#mood2__image {background-image: url("./src/images/mood-good-icon.png");}
#mood3__image {background-image: url("./src/images/mood-meeeh-icon.png");}
#mood4__image {background-image: url("./src/images/mood-bad-icon.png");} */

/* This code makes the default radio button invisible. The icon have to be clicked to select a mood */
/* input#mood1,
input#mood2,
input#mood3,
input#mood4 {
    visibility: hidden;
    display: none;
} */

.mood-icon__block {
    display: inline-block !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    line-height: 0;
    width: 2rem;
    height: 2rem;
    text-align: center;
    transition: all 0.3s;
}

.mood-choice__text {
    font-size: .75em;
}

.mood-selector__block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
}

.mood__selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    padding: .25rem .5rem;
}

.mood__selection input:checked,
.mood__selection.selected {
    outline: var(--accent-color) 2px solid;
}

/* Miscellaneous  ********************/
.icon {
    max-width: 2em;
}

.input,
.textarea {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.textarea {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 80px;
    line-height: 20px;
    background-color: rgb(255, 255, 255);
  }

  .textarea[contenteditable]:empty::before {
    content: "How you really feel";
    color: gray;
  }

  #post-subject {
    min-height: 1rem;
    height: 1.2rem;
    resize: none;
}

  p.remarks__block strong {
      display: block;
  }

  label[for*="newJournalDate"] {
    flex: 2;
}

input#newJournalDate {
    flex: 1 1 150px;
}

#new-post__date-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.entry-add-entry-read__block > *{
    padding: 1rem;
}

.block-style__button {
    width: -webkit-fill-available;
}

button {
    margin: .5em;
    border-radius: var(--round-border-radius);
}

/* Journal Entry Container *********************** */
.journal-entry__container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: stretch;
    flex: 1 auto;
}

.entry__card.entry__preview {
    margin: .5rem;
    padding: .5rem;
    background: var(--secondary-bg-color);
    flex: 0 1 300px;
    border-radius: var(--primary-border-radius);
    border: 1px solid #ffffff;
    color: white;
}

.entry__card.mood-date__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.hr--98 {
    width: 98%;
}